<!DOCTYPE html>
	<head>
		<title>User Menu</title>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="container=fluid"><h1>Music Analyser User Menu!</h1>
		<p>Click to go to balabala page (<a href="/page1">click</a>)</p>
		<p>Go to the music player (<a href="/musicplayer">click</a>)
		{% if button[1].state == "True" %}
			<p> The button1 is on (<a href="/1/True">turn off</a>) </p>
		{% else %}
			<p> The button1 is off (<a href="/1/Flase">turn on</a>) </p>
		{% endif %}


		{% if button[2].state == "True" %}
			<p> The button2 is on (<a href="/2/True">turn off</a>) </p>
		{% else %}
			<p> The button2 is off (<a href="/2/Flase">turn on</a>) </p>
		{% endif %}


		{% if button[3].state == "True" %}
			<p> The button3 is on (<a href="/3/True">turn off</a>) </p>
		{% else %}
			<p> The button3 is off (<a href="/3/Flase">turn on</a>) </p>
		{% endif %}
		
		{% if message %}
		<h2>{{message}}</h2>
		{% endif %}
		</p>
		</div>

	<div class="container-fluid">
		<div class="col-xs-6">
		    <form role="form" name="input" action="/download" method="Post">
			    <div class="form-group">
			    	<label>Artist</label>
			    	<input type="text" class="form-control" name="artist">
			    </div>
			    <div class="form-group">
			    	<label>Title</label>
			    	<input type="text" class="form-control" name="title">	    
			    </div>
		    	<button type="submit" class="btn btn-default">Submit</button>
		    </form>
		</div>
	</div>
	</body>
</html>
