<!DOCTYPE html>
	<head>
		<title>User Menu</title>
	</head>

	<body>
		<h1>Music Analyser User Menu!</h1>
		<p>Click to go to balabala page (<a href="/page1">click</a>)
		<p>Go to the music player (<a href="/musicplayer">click</a>)
		{% if button[1].state == "True" %}
			<p> The button1 is on (<a href="/1/True">turn off</a>) </p>
		{% else %}
			<p> The button1 is off (<a href="/1/Flase">turn on</a>) </p>
		{% endif %}


		{% if button[2].state == "True" %}
			<p> The button2 is on (<a href="/2/True">turn off</a>) </p>
		{% else %}
			<p> The button2 is off (<a href="/2/Flase">turn on</a>) </p>
		{% endif %}


		{% if button[3].state == "True" %}
			<p> The button3 is on (<a href="/3/True">turn off</a>) </p>
		{% else %}
			<p> The button3 is off (<a href="/3/Flase">turn on</a>) </p>
		{% endif %}
		
		{% if message %}
		<h2>{{message}}</h2>
		{% endif %}

	</body>
</html>
