<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugin/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='plugin/ttw-music-player.js') }}"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var description = 'You can use voice controls to control the player. Use commands like "pause, play, next, previous" in order to control the player.';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var myArr = JSON.parse(xmlhttp.responseText);
                    renderPlaylist(myArr);
                    // var result = (function(myArr){
                    // var i;
                    // console.log(myArr);
                    // console.log(myArr.length);
                    // console.log(myArr);
                    // for(i = 0; i < myArr.length; i++){
                    //     var new_array = []
                    //     new_array.push({
                    //         mp3: myArr[i].mp3,
                    //         title: myArr[i].title,
                    //         artist: myArr[i].artist,
                    //         rating: myArr[i].rating,
                    //         buy: myArr[i].buy,
                    //         duration: myArr[i].duration,
                    //     });
                    //     renderPlaylist(new_array);
                    //     console.log(result);
                    // }})(myArr);
        var firebase = new Firebase("https://381.firebaseio.com/player/status");
        firebase.on("child_changed", function(snapshot) {
          var changedPost = snapshot.val();
          switch(changedPost) {
            case 'play':
                $("div.play.jp-play").click();
                firebase.set({"status": "Idle"});
                break;
            case 'pause':
                $("div.pause.jp-pause").click();
                firebase.set({"status": "Idle"});
                break;
            case 'back':
                $("div.previous.jp-previous").click();
                firebase.set({"status": "Idle"});
                break;
            case 'next':
                $("div.next.jp-next").click();
                firebase.set({"status": "Idle"});
                break;
            default:
                break;
            }
        });
                    
                }
            }
            xmlhttp.open("GET", "{{ url_for('playlist_' )}}", true);
            xmlhttp.send();

            function renderPlaylist(myPlaylist){


                $('body').ttwMusicPlayer(myPlaylist, {
                    autoPlay:false, 
                    description:description,
                    jPlayer:{
                        swfPath:"{{ url_for('static', filename='plugin/jquery-jplayer.swf') }}" //You need to override the default swf path any time the directory structure changes
                    }
                });
            };
        });
    </script>
</head>
<body>

<div id="title"></div>
</body>
</html>
